<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yuhang.dao.ProjectDao">
<sql id="selectProject">
    	select id,name,create_time createTime,status,sequence,remark,user_id userId,type,password,cover
	</sql>
	
	<sql id="whereProject">
        <where>
            <if test="userId!=null">
               user_id =#{userId}
            </if>
        </where>
    </sql>
    
    <select id="findByMap" parameterType="map" resultType="Project">
        <include refid="selectProject"/> FROM project <include refid="whereProject"/>
        order by id desc 
        <if test="start!=null and size!=null">
	        limit #{start},#{size}
        </if>
    </select>
    
      <select id="countFindByMap" parameterType="map" resultType="int">
        select count(1) FROM project <include refid="whereProject"/>
        <if test="start!=null and size!=null">
	        limit #{start},#{size}
        </if>
    </select>

</mapper>