<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yuhang.dao.RoleDao">
	<sql id="selectRole">
    	select id,role_name roleName,auth,auth_name authName,create_time createTime,status,sequence
	</sql>
	
	<sql id="whereRole">
        <where>
         <if test="id!=null">
            id=#{id}
         </if>
        </where>
    </sql>
    
    <select id="findByMap" parameterType="map" resultType="Role">
        <include refid="selectRole"/> FROM role <include refid="whereRole"/>
        order by id desc 
        <if test="start!=null and size!=null">
	        limit #{start},#{size}
        </if>
    </select>


</mapper>