<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yuhang.dao.UserDao">
	
	<sql id="selectUser">
		id,user_name userName,password,true_name trueName,role_id roleId,role_name roleName,auth,auth_name authName,status,type,email,avatar_url avatarUrl,login_type loginType,thirdly_id thirdlyId,create_time createTime
	</sql>

	<sql id="whereUser">
		<where>
			<if test="name!=null">
				name=#{name}
			</if>
			<if test="id!=null">
				id=#{id}
			</if>
		</where>
	</sql>

	<select id="loadUserByName" parameterType="map" resultType="User">
		select <include refid="selectUser" /> FROM user <include refid="whereUser" />
		order by id desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	
	<select id="loadUserById" parameterType="map" resultType="User">
		select <include refid="selectUser" /> FROM user <include refid="whereUser" />
		order by id desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

</mapper>