<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yuhang.dao.UserDao">
	
	<sql id="selectUser">
		id,user_name userName,password,true_name trueName,role_id roleId,role_name roleName,auth,auth_name authName,status,type,email,avatar_url avatarUrl,login_type loginType,thirdly_id thirdlyId,create_time createTime
	</sql>

	<sql id="whereUser">
		<where>
			<if test="userName!=null">
				user_name=#{userName}
			</if>
			<if test="id!=null">
				id=#{id}
			</if>
		</where>
	</sql>

	<select id="loadUserByName" parameterType="java.lang.String" resultType="User">
		select <include refid="selectUser" /> FROM user where user_name=#{userName}
	</select>
	
	
	<select id="loadUserById" parameterType="int" resultType="User">
		select <include refid="selectUser" /> FROM user where id=#{id}
	</select>

</mapper>